@{
    Layout = null;
}
@model Model.Product
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>千秋一梦网站首页</title>
    <link rel="stylesheet" href="~/Content/PetIndex/vendor.min.css">
    <link rel="stylesheet" href="~/Content/PetIndex/plugins.min.css">
    <link rel="stylesheet" href="~/Content/PetIndex/style.min.css">
    <link href="~/Content/iconfont.css" rel="stylesheet" />
    
    @{List<string> name = new List<string>();}
</head>
<body>
    @* 头部 *@
    <div class="header section">
        @* 头部状态栏 *@
        <div class="header-top bg-name-primary">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="header-top-msg-wrapper">
                            <p class="header-top-message">欢迎来到一梦宠物网站</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="header-top-settings">
                            <ul class="nav">
                                <li class="curreny-wrap">
                                    <a href="/login/index" class="logib">登录</a>
                                    <a href="/login/regisetrIndex" style="margin-left:5px">注册</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* 头部状态栏结束 *@
        @* 状态栏 *@
        <div class="header-bottom">
            <div class="header-sticky">
                <div class="container">
                    <div class="row align-items-center position-relative">
                        @* log部分 *@
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="header-logo">
                                <a href="/pethome/index"><img src="~/Content/PetIndex/PetIndexImage/log.png" alt="Site Logo" /></a>
                            </div>
                        </div>
                        @* log部分结束 *@
                        @* 导航菜单栏 *@
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="main-menu">
                                <ul>
                                    <li class="has-children">
                                        <a href="#">首页</a>
                                    </li>
                                    <li class="has-children position-static">
                                        <a href="#">宠物商店</a>
                                        <ul class="mega-menu">
                                            <li class="mega-menu-col">
                                                <h4 class="mega-menu-title">宠物食物</h4>
                                                <ul class="m-b-n10">
                                                    <li><a href="shop.html">猫咪食物</a></li>
                                                    <li><a href="shop-left-sidebar.html">狗狗食物</a></li>
                                                    <li><a href="shop-right-sidebar.html">小宠食物</a></li>
                                                    <li><a href="shop-list-fullwidth.html">水族食物</a></li>
                                                    <li><a href="shop-list-left-sidebar.html">爬宠食物</a></li>
                                                    <li><a href="shop-list-right-sidebar.html">鸟宠食物</a></li>
                                                    <li><a href="shop-list-right-sidebar.html">其他</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu-col">
                                                <h4 class="mega-menu-title">宠物玩具</h4>
                                                <ul class="m-b-n10">
                                                    <li><a href="single-product.html">猫咪玩具</a></li>
                                                    <li><a href="single-product-sale.html">狗狗玩具</a></li>
                                                    <li><a href="single-product-variable.html">小宠玩具</a></li>
                                                    <li><a href="single-product-countdown.html">爬宠玩具</a></li>
                                                    <li><a href="single-product-affiliate.html">水族玩具</a></li>
                                                    <li><a href="single-product-slider.html">鸟宠玩具</a></li>
                                                    <li><a href="single-product-slider.html">其他</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu-col">
                                                <h4 class="mega-menu-title">宠物药品</h4>
                                                <ul class="m-b-n10">
                                                    <li><a href="my-account.html">猫咪药品</a></li>
                                                    <li><a href="login.html">狗狗药品</a></li>
                                                    <li><a href="wishlist.html">小宠药品</a></li>
                                                    <li><a href="cart.html">爬宠药品</a></li>
                                                    <li><a href="checkout.html">水族药品</a></li>
                                                    <li><a href="compare.html">鸟宠药品</a></li>
                                                    <li><a href="compare.html">其他药品</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu-col">
                                                <div class="megamenu-image">
                                                    <a href="shop.html">
                                                        <img class="fit-image" src="~/Content/PetIndex/PetIndexImage/yiwu.png" alt="Megamenu Image">
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">宠物</a>
                                        <ul class="sub-menu">
                                            <li><a href="about.html">猫咪</a></li>
                                            <li><a href="contact.html">狗狗</a></li>
                                            <li><a href="error-404.html">小宠</a></li>
                                            <li><a href="faq.html">爬宠</a></li>
                                            <li><a href="login.html">水族</a></li>
                                            <li><a href="register.html">鸟宠</a></li>
                                            <li><a href="register.html">其他</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">宠物视频</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog.html">猫咪视频</a></li>
                                            <li><a href="blog-left-sidebar.html">狗狗视频</a></li>
                                            <li><a href="blog-right-sidebar.html">小宠视频</a></li>
                                            <li><a href="blog-details.html">爬宠视频</a></li>
                                            <li><a href="blog-details-sidebar.html">鸟宠视频</a></li>
                                            <li><a href="blog-details-sidebar.html">其他视频</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">宠物趣事</a></li>
                                    <li><a href="contact.html">宠物问答</a></li>
                                </ul>
                            </div>
                        </div>
                        @* 导航菜单栏结束 *@
                        @* 右侧状态栏 *@
                        <div class="col-lg-3 col-md-8 col-6">
                            <div class="header-actions">
                                @* 搜索内容 *@
                                <div class="header-action-btn header-action-btn-search d-none d-md-flex">
                                    <div class="action-execute">
                                        <a class="action-search-open" href="javascript:void(0)"><i class="iconfont">&#xe651;</i></a>
                                        <a class="action-search-close" href="javascript:void(0)"><i class="iconfont">&#xeb6a;</i></a>
                                    </div>
                                    <form class="header-search-form" action="#">
                                        <input type="text" class="header-search-input" placeholder="请输入搜索内容">
                                        <button class="header-search-button"><i class="iconfont">&#xe651;</i></button>
                                    </form>
                                </div>
                                @* 搜索内容结束 *@
                                @* 用户信息 *@
                                <a href="my-account.html" class="header-action-btn header-action-btn-wishlist">
                                    <i class="iconfont">&#xe6a4;</i>
                                </a>
                                @* 用户信息结束 *@
                                @* 购物车 *@
                                <div class="header-action-btn header-action-btn-cart d-none d-sm-flex">
                                    <a class="cart-visible" href="javascript:void(0)">
                                        <i class="iconfont">&#xe649;</i>
                                        <span class="header-action-num">3</span>
                                    </a>
                                    <div class="header-cart-content">
                                        <div class="cart-product-wrapper">
                                            <div class="cart-product-inner p-b-20 m-b-20 border-bottom">
                                                <div class="single-cart-product">
                                                    <div class="cart-product-thumb">
                                                        <a href="single-product.html"><img src="~/Content/PetIndex/PetIndexImage/1.jpg" alt="Cart "></a>
                                                    </div>
                                                    <div class="cart-product-content">
                                                        <h3 class="title"><a href="single-product.html">相思鸟</a></h3>
                                                        <div class="product-quty-price">
                                                            <span class="cart-quantity">数量: <strong> 1 </strong></span>
                                                            <span class="price">
                                                                <span class="new">￥1666.66</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cart-product-remove">
                                                    <a href="#/"><i class="iconfont">&#xf01f1;</i></a>
                                                </div>
                                            </div>
                                            <div class="cart-product-inner p-b-20 m-b-20 border-bottom">
                                                <div class="single-cart-product">
                                                    <div class="cart-product-thumb">
                                                        <a href="single-product.html"><img src="~/Content/PetIndex/PetIndexImage/2.png" alt="Cart Product"></a>
                                                    </div>
                                                    <div class="cart-product-content">
                                                        <h3 class="title"><a href="single-product.html">家养雪貂</a></h3>
                                                        <div class="product-quty-price">
                                                            <span class="cart-quantity">数量: <strong> 1 </strong></span>
                                                            <span class="price">
                                                                <span class="new">￥1888.88</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cart-product-remove">
                                                    <a href="#/"><i class="iconfont">&#xf01f1;</i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart-product-total p-b-20 m-b-20 border-bottom">
                                            <span class="value">总价</span>
                                            <span class="price">￥2888.88</span>
                                        </div>
                                        <div class="cart-product-btn m-t-20">
                                            <a href="cart.html" class="btn btn-outline-light btn-hover-primary w-100">查看购物车</a>
                                            <a href="checkout.html" class="btn btn-outline-light btn-hover-primary w-100 m-t-20">结算</a>
                                        </div>
                                    </div>
                                </div>
                                @* 购物车结束 *@
                                @* 比例菜单 *@
                                <div class="header-action-btn header-action-btn-cart d-flex d-sm-none">
                                    <a href="cart.html">
                                        <i class="iconfont">&#xe649;</i>
                                        <span class="header-action-num">3</span>
                                    </a>
                                </div>
                                <a href="javascript:void(0)" class="header-action-btn header-action-btn-menu d-lg-none d-md-flex">
                                    <i class="iconfont">&#xe790;</i>
                                </a>
                                @* 比例菜单结束 *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* 状态栏结束 *@
    </div>
    @* 头部结束 *@
    @* 轮播部分 *@
    <div class="section">
        <div class="hero-slider swiper-container">
            <div class="swiper-wrapper">

                <div class="hero-slide-item swiper-slide">
                    <div class="hero-slide-bg">
                        <img src="~/Content/PetIndex/PetIndexImage/pet1.jpg" alt="Slider Image" />
                    </div>
                    <div class="container">
                        <div class="hero-slide-content text-start">
                            <h5 class="sub-title">我们养宠物是为了丰富生活与陪伴</h5>
                            <h2 class="title m-0">我们提供了宠物的一些用品</h2>
                            <p class="ms-0">当你为你的宠物寻找食物或者药物时，我们知道你的担忧</p>
                            <a href="shop.html" class="btn btn-dark btn-hover-primary">立即购物</a>
                        </div>
                    </div>
                </div>

                <div class="hero-slide-item swiper-slide">
                    <div class="hero-slide-bg">
                        <img src="~/Content/PetIndex/PetIndexImage/pet2.jpg" alt="Slider Image" />
                    </div>
                    <div class="container">
                        <div class="hero-slide-content text-center text-md-end">
                            <h5 class="sub-title">我们养宠物是为了丰富生活与陪伴</h5>
                            <h2 class="title m-0">我们提供了宠物的一些用品</h2>
                            <p>当你为你的宠物寻找食物或者药物时，我们知道你的担忧</p>
                            <a href="shop.html" class="btn btn-dark btn-hover-primary">立即购物</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination d-lg-none"></div>
            <div class="home-slider-prev swiper-button-prev main-slider-nav d-lg-flex d-none"><i class="iconfont">&#xeb15;</i></div>
            <div class="home-slider-next swiper-button-next main-slider-nav d-lg-flex d-none"><i class="iconfont">&#xe61f;</i></div>
        </div>
    </div>
    @* 轮播部分结束 *@
    @* 保障部分 *@
    <div class="section section-padding">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 m-b-n30">

                <div class="col m-b-30" data-aos="fade-up" data-aos-duration="1000">
                    <div class="single-cta-wrapper">
                        <div class="cta-icon">
                            <i style="font-size: 40px;" class="iconfont">&#xee79;</i>
                        </div>
                        <div class="cta-content">
                            <h4 class="title">免费送货</h4>
                            <p>所有订单免运费</p>
                        </div>
                    </div>
                </div>

                <div class="col m-b-30" data-aos="fade-up" data-aos-duration="1100">
                    <div class="single-cta-wrapper">
                        <div class="cta-icon">
                            <i style="font-size: 40px;" class="iconfont">&#xea0a;</i>
                        </div>
                        <div class="cta-content">
                            <h4 class="title">在线支持</h4>
                            <p>全天候在线实时支持</p>
                        </div>
                    </div>
                </div>

                <div class="col m-b-30" data-aos="fade-up" data-aos-duration="1200">
                    <div class="single-cta-wrapper">
                        <div class="cta-icon">
                            <i style="font-size: 40px;" class="iconfont">&#xe626;</i>
                        </div>
                        <div class="cta-content">
                            <h4 class="title">退款</h4>
                            <p>5天以下的延期担保</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @* 保障部分结束 *@
    @* 产品部分 *@
    <div class="section position-relative">
        <div class="container">
            <div class="row" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-12">
                    <ul class="product-tab-nav nav justify-content-center m-b-n15 p-b-40 title-border-bottom">
                        <li class="nav-item m-b-15"><a class="nav-link active" data-bs-toggle="tab" href="#tab-product-all">畅销</a></li>
                        <li class="nav-item m-b-15"><a class="nav-link" data-bs-toggle="tab" href="#tab-product-featured">打折</a></li>
                        <li class="nav-item m-b-15"><a class="nav-link" data-bs-toggle="tab" href="#tab-product-new">新品</a></li>
                    </ul>
                </div>
            </div>
            <div class="row" data-aos="fade-up" data-aos-duration="1100">
                <div class="col-12">
                    @* 畅销模块 *@
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-product-all">
                            <div class="row m-b-n40">
                                @foreach (var item in ViewBag.date as List<Model.Product>)
                                {
                                    <div class="col-12 col-sm-6 col-lg-3 product-wrapper m-b-40">
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="single-product.html" class="image">
                                                    <img class="fit-image" src="~/Content/PetIndex/Product/@item.ProductImg" alt="Product" />
                                                </a>
                                                <span class="badges">
                                                    @if (item.ProductDiscount > 0)
                                                    {
                                                        <span class="sale">@(item.ProductDiscount * 100)%</span>
                                                    }
                                                </span>
                                                <div class="action-wrapper">
                                                    <a onclick="@item.ProductId+showNmae()" data-bs-target="@item.ProductId" class="action quickview" data-bs-toggle="modal" id="showProduct" title="Quickview"><i class="iconfont">&#xe622;</i></a>
                                                    <script type="text/javascript">
                                                        function showNmae() {
                                                            var nav = document.querySelector('#quick');
                                                            nav.setAttribute('id',"@item.ProductId");
                                                            nav.setAttribute('aria-labelledby',"@item.ProductId");
                                                        }
                                                    </script>
                                                    <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="iconfont">&#xe608;</i></a>
                                                    <a href="cart.html" class="action cart" title="Cart"><i class="iconfont">&#xe63f;</i></a>
                                                </div>
                                            </div>

                                            <div class="content">
                                                <h5 class="title"><a href="single-product.html">@item.ProductName</a></h5>
                                                <span class="rating">
                                                    @{bool isLoad = true;}
                                                    @{string[] bcs = item.ProductScore.ToString().Split('.');}
                                                    @if (bcs.Count() > 0)
                                                    {
                                                        for (int i = 0; i < Convert.ToInt32(bcs[0]); i++)
                                                        {
                                                            <i class="iconfont"> &#xe64a;</i>
                                                        }
                                                        for (int k = 0; k < 5 - Convert.ToInt32(bcs[0]); k++)
                                                        {
                                                            if (Convert.ToInt32(bcs[1]) > 5 && isLoad)
                                                            {
                                                                <i class="iconfont">&#xe9a2;</i>
                                                                isLoad = false;
                                                            }
                                                            else
                                                            {
                                                                <i class="iconfont">&#xe9a1;</i>
                                                            }
                                                        }

                                                    }
                                                </span>
                                                <span class="price">

                                                    @if (item.ProductDiscount > 0)
                                                    {
                                                        <span class="new">
                                                            ￥@((item.ProductPrice * (1-item.ProductDiscount)).ToString("F2"))
                                                        </span>
                                                        <span class="old">@item.ProductPrice</span>
                                                    }
                                                    else
                                                    {@item.ProductPrice}
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    
                                }
                                <div class="col-12 col-sm-6 col-lg-3 product-wrapper m-b-40">
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image" src="~/Content/PetIndex/Product/3.png" alt="Product" />
                                            </a>
                                            <div class="action-wrapper">
                                                <a href="#/" class="action quickview" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quickview"><i class="iconfont">&#xe622;</i></a>
                                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="iconfont">&#xe608;</i></a>
                                                <a href="cart.html" class="action cart" title="Cart"><i class="iconfont">&#xe63f;</i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a href="single-product.html">Pet Food Corner</a></h5>
                                            <span class="rating">
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe9a2;</i>
                                                <i class="iconfont">&#xe9a1;</i>
                                                <i class="iconfont">&#xe9a1;</i>
                                                <i class="iconfont">&#xe9a1;</i>
                                            </span>
                                            <span class="price">
                                                <span class="new">￥105.00</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product-wrapper m-b-40">
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image" src="~/Content/PetIndex/Product/4.png" alt="Product" />
                                            </a>
                                            <span class="badges">
                                                <span class="sale">-18%</span>
                                            </span>
                                            <div class="action-wrapper">
                                                <a href="#/" class="action quickview" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quickview"><i class="iconfont">&#xe622;</i></a>
                                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="iconfont">&#xe608;</i></a>
                                                <a href="cart.html" class="action cart" title="Cart"><i class="iconfont">&#xe63f;</i></a>
                                            </div>

                                            <div class="countdown-area">
                                                <div class="countdown-wrapper" data-countdown="2028/12/28"></div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a href="single-product.html">Pet Leaving House</a></h5>
                                            <span class="rating">
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe9a2;</i>
                                                <i class="iconfont">&#xe9a1;</i>
                                                <i class="iconfont">&#xe9a1;</i>
                                            </span>
                                            <span class="price">
                                                <span class="new">￥47.50</span>
                                                <span class="old">￥50.00</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product-wrapper m-b-40">
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image" src="~/Content/PetIndex/Product/5.png" alt="Product" />
                                            </a>
                                            <span class="badges">
                                                <span class="sale">-20%</span>
                                            </span>
                                            <div class="action-wrapper">
                                                <a href="#/" class="action quickview" id="showProduct" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quickview"><i class="iconfont">&#xe622;</i></a>

                                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="iconfont">&#xe608;</i></a>
                                                <a href="cart.html" class="action cart" title="Cart"><i class="iconfont">&#xe63f;</i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a href="single-product.html">Pet Leaving House</a></h5>
                                            <span class="rating">
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe9a2;</i>
                                                <i class="iconfont">&#xe9a1;</i>
                                            </span>
                                            <span class="price">
                                                <span class="new">￥58.50</span>
                                                <span class="old">￥62.85</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product-wrapper m-b-40">
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image" src="~/Content/PetIndex/Product/1.png" alt="Product" />
                                            </a>
                                            <span class="badges">
                                                <span class="new">New</span>
                                            </span>
                                            <div class="action-wrapper">
                                                <a href="#/" class="action quickview" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quickview"><i class="iconfont">&#xe622;</i></a>
                                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="iconfont">&#xe608;</i></a>
                                                <a href="cart.html" class="action cart" title="Cart"><i class="iconfont">&#xe63f;</i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a href="single-product.html">This is the testing</a></h5>
                                            <span class="rating">
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe9a2;</i>
                                            </span>
                                            <span class="price">
                                                <span class="new">￥78.50</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product-wrapper m-b-40">
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image" src="~/Content/PetIndex/Product/8.png" alt="Product" />
                                            </a>
                                            <div class="action-wrapper">
                                                <a href="#/" class="action quickview" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quickview"><i class="iconfont">&#xe622;</i></a>
                                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="iconfont">&#xe608;</i></a>
                                                <a href="cart.html" class="action cart" title="Cart"><i class="iconfont">&#xe63f;</i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a href="single-product.html">Basic Dog Trainning</a></h5>
                                            <span class="rating">
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                            </span>
                                            <span class="price">
                                                <span class="new">￥55.00</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product-wrapper m-b-40">
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image" src="~/Content/PetIndex/Product/6.png" alt="Product" />
                                            </a>
                                            <div class="action-wrapper">
                                                <a href="#/" class="action quickview" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quickview"><i class="iconfont">&#xe622;</i></a>
                                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="iconfont">&#xe608;</i></a>
                                                <a href="cart.html" class="action cart" title="Cart"><i class="iconfont">&#xe63f;</i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a href="single-product.html">Basic Dog Trainning</a></h5>
                                            <span class="rating">
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                            </span>
                                            <span class="price">
                                                <span class="new">￥55.00</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* 畅销模块结束 *@
                        @* 打折模块 *@
                        <div class="tab-pane fade" id="tab-product-featured">
                            <div class="row m-b-n40">
                                <div class="col-12 col-sm-6 col-lg-3 product-wrapper m-b-40">
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image" src="assets/images/products/medium-product/5.png" alt="Product" />
                                            </a>
                                            <span class="badges">
                                                <span class="sale">-18%</span>
                                            </span>
                                            <div class="action-wrapper">
                                                <a href="#/" class="action quickview" data-bs-toggle="modal" data-bs-target="#quick-view"><i class="ti-plus"></i></a>
                                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="ti-heart"></i></a>
                                                <a href="cart.html" class="action cart" title="Cart"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a href="single-product.html">Pet Leaving House</a></h5>
                                            <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                            <span class="price">
                                                <span class="new">$47.50</span>
                                                <span class="old">$50.00</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product-wrapper m-b-40">
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image" src="assets/images/products/medium-product/6.png" alt="Product" />
                                            </a>
                                            <span class="badges">
                                                <span class="sale">-20%</span>
                                            </span>
                                            <div class="action-wrapper">
                                                <a href="#/" class="action quickview" data-bs-toggle="modal" data-bs-target="#quick-view"><i class="ti-plus"></i></a>
                                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="ti-heart"></i></a>
                                                <a href="cart.html" class="action cart" title="Cart"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a href="single-product.html">Pet Leaving House</a></h5>
                                            <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                            <span class="price">
                                                <span class="new">$58.50</span>
                                                <span class="old">$62.85</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product-wrapper m-b-40">
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image" src="assets/images/products/medium-product/3.png" alt="Product" />
                                            </a>
                                            <span class="badges">
                                                <span class="new">New</span>
                                            </span>
                                            <div class="action-wrapper">
                                                <a href="#/" class="action quickview" data-bs-toggle="modal" data-bs-target="#quick-view"><i class="ti-plus"></i></a>
                                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="ti-heart"></i></a>
                                                <a href="cart.html" class="action cart" title="Cart"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a href="single-product.html">Wait, You Need This</a></h5>
                                            <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                            <span class="price">
                                                <span class="new">$90.00</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product-wrapper m-b-40">
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image" src="assets/images/products/medium-product/7.png" alt="Product" />
                                            </a>
                                            <span class="badges">
                                                <span class="new">New</span>
                                            </span>
                                            <div class="action-wrapper">
                                                <a href="#/" class="action quickview" data-bs-toggle="modal" data-bs-target="#quick-view"><i class="ti-plus"></i></a>
                                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="ti-heart"></i></a>
                                                <a href="cart.html" class="action cart" title="Cart"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a href="single-product.html">This is the testing</a></h5>
                                            <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                            <span class="price">
                                                <span class="new">$78.50</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product-wrapper m-b-40">
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image" src="assets/images/products/medium-product/8.png" alt="Product" />
                                            </a>
                                            <div class="action-wrapper">
                                                <a href="#/" class="action quickview" data-bs-toggle="modal" data-bs-target="#quick-view"><i class="ti-plus"></i></a>
                                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="ti-heart"></i></a>
                                                <a href="cart.html" class="action cart" title="Cart"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a href="single-product.html">Basic Dog Trainning</a></h5>
                                            <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                            <span class="price">
                                                <span class="new">$55.00</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product-wrapper m-b-40">
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image" src="assets/images/products/medium-product/1.png" alt="Product" />
                                            </a>
                                            <span class="badges">
                                                <span class="sale">-18%</span>
                                            </span>
                                            <div class="action-wrapper">
                                                <a href="#/" class="action quickview" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quickview"><i class="ti-plus"></i></a>
                                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="ti-heart"></i></a>
                                                <a href="cart.html" class="action cart" title="Cart"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a href="single-product.html">An Animal Album</a></h5>
                                            <span class="rating">
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                            <span class="price">
                                                <span class="new">$80.50</span>
                                                <span class="old">$85.80</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product-wrapper m-b-40">
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image" src="assets/images/products/medium-product/2.png" alt="Product" />
                                            </a>
                                            <span class="badges">
                                                <span class="sale">-20%</span>
                                            </span>
                                            <div class="action-wrapper">
                                                <a href="#/" class="action quickview" title="Quickview" data-bs-toggle="modal" data-bs-target="#quick-view"><i class="ti-plus"></i></a>
                                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="ti-heart"></i></a>
                                                <a href="cart.html" class="action cart" title="Cart"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a href="single-product.html">Animal For Life</a></h5>
                                            <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                            <span class="price">
                                                <span class="new">$75.50</span>
                                                <span class="old">$82.85</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 product-wrapper m-b-40">
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image" src="assets/images/products/medium-product/4.png" alt="Product" />
                                            </a>
                                            <div class="action-wrapper">
                                                <a href="#/" class="action quickview" data-bs-toggle="modal" data-bs-target="#quick-view"><i class="ti-plus"></i></a>
                                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="ti-heart"></i></a>
                                                <a href="cart.html" class="action cart" title="Cart"><i class="ti-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a href="single-product.html">Pet Food Corner</a></h5>
                                            <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                            <span class="price">
                                                <span class="new">$105.00</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* 产品部分结束 *@
    @* 底部 *@
    <div class="section section-margin">
        <div class="container">
            <div class="row m-b-n30">
                <div class="col-md-6 col-12 m-b-30" data-aos="fade-up" data-aos-duration="1000">
                    <a href="shop.html" class="banner">
                        <img class="fit-image" src="~/Content/PetIndex/Banner/1.jpg" alt="Banner Image" />
                    </a>
                </div>
                <div class="col-md-6 col-12 m-b-30" data-aos="fade-up" data-aos-duration="1400">
                    <a href="shop.html" class="banner">
                        <img class="fit-image" src="~/Content/PetIndex/Banner/2.jpg" alt="Banner Image" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    @* 本周销量 *@
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title" data-aos="fade-up" data-aos-duration="1000">本周最佳交易</h2>
                    </div>
                    <div class="product-deal-carousel arrow-outside-container">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="single-deal-product row m-b-n30">
                                        <div class="deal-thumb col-md-6 m-b-30" data-aos="fade-up" data-aos-duration="1200">
                                            <a href="single-product.html">
                                                <img class="fit-image" src="~/Content/PetIndex/Product/9.png" alt="Product Image">
                                            </a>
                                        </div>
                                        <div class="product-deal-content col-md-6 m-b-30" data-aos="fade-up" data-aos-duration="1400">
                                            <h5 class="title m-b-15"><a href="single-product.html">海棠兔</a></h5>
                                            <span class="rating m-b-15">
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe9a2;</i>
                                                <i class="iconfont">&#xe9a1;</i>
                                                <i class="iconfont">&#xe9a1;</i>
                                            </span>
                                            <span class="price">
                                                <span class="new">￥80.50</span>
                                                <span class="old">￥85.80</span>
                                            </span>
                                            <p>海棠兔俗称荷达特兔 、熊猫兔。海棠兔胆子很小，喜欢安静，当听到很突然的声音他们会受到惊吓，并且食欲也会减退。产仔期的母兔如果受到惊吓很有可能难产，或者会拒绝喂奶。除开采食和运动的时间之外，海棠兔都是在休眠中。海棠兔身上的披毛浓密，可以抵御寒冷，甚至是零度以下它们都能够适应，但是它们的汗腺很不发达，非常怕热，当气温很高的时候它们会趴在地上散热，或者是利用大量的呼吸来散热。</p>
                                            <div class="countdown-area">
                                                <div class="countdown-wrapper" data-countdown="2023/06/01"></div>
                                            </div>
                                            <a href="shop.html" class="btn btn-primary btn-hover-dark">立即购买</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="single-deal-product row m-b-n30">
                                        <div class="deal-thumb col-md-6 m-b-30">
                                            <a href="single-product.html">
                                                <img class="fit-image" src="~/Content/PetIndex/Product/10.png" alt="Product Image">
                                            </a>
                                        </div>
                                        <div class="product-deal-content col-md-6 m-b-30">
                                            <h5 class="title m-b-15"><a href="single-product.html">暹罗猫</a></h5>
                                            <span class="rating m-b-15">
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe9a2;</i>
                                                <i class="iconfont">&#xe9a1;</i>
                                                <i class="iconfont">&#xe9a1;</i>
                                            </span>
                                            <span class="price">
                                                <span class="new">￥60.00</span>
                                                <span class="old">￥66.00</span>
                                            </span>
                                            <p>
                                                暹罗猫，原产于暹罗(今泰国 )，故名暹罗猫，是世界著名的短毛猫，也是短毛猫的代表品种。

                                                暹罗猫是一种著名的宠物猫，性格刚烈好动，机智灵活，好奇心特强，喜欢与人为伴，能够较好适应主人当地的气候，同时对主人忠心耿耿、感情深厚，需要主人的不断爱抚和关心，如果强制与主人分开，则可能会抑郁而死。

                                                暹罗猫的叫声很大，声音比较独特或像小孩的啼哭声。
                                            </p>
                                            <div class="countdown-area">
                                                <div class="countdown-wrapper" data-countdown="2023/05/31"></div>
                                            </div>
                                            <a href="shop.html" class="btn btn-primary btn-hover-dark">立即购买</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-pagination d-none"></div>
                            <div class="swiper-deal-button-next swiper-button-next swiper-nav-button"><i class="iconfont">&#xe61f;</i></div>
                            <div class="swiper-deal-button-prev swiper-button-prev swiper-nav-button"><i class="iconfont">&#xeb15;</i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* 本周销量结束 *@
    @* 医师介绍 *@
    <div class="section bg-name-bright section-padding section-margin">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="testimonial-carousel">
                        <div class="swiper-container testimonial-gallery-top" data-aos="fade-up" data-aos-duration="1000">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonial-content text-center">
                                        <p>长年接受国内外先进动物医学教育专项培训，已获得ESAVA、WSAVA、BKSAVA、SAO等顶级动物医学专业认证，与世界小动 物兽医师协会(WSAVA)多名专家保持长期业务联系。主攻老年病、骨科、软组织外科、腹腔外科、珍奇宠物疾病(爬虫类、啮齿类、鸟类等)。</p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-content text-center">
                                        <p>自从事宠物医疗行业以来，长年接受国内外系统化的专科培训，专注于小动物影像，临床麻醉和外科的学习和钻研，致力于解决小动物的疾病痛楚，为小动物的健康保驾护航。</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-container testimonial-gallery-thumbs" data-aos="fade-up" data-aos-duration="1500">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonial-thumb text-center">
                                        <img src="~/Content/PetIndex/Product/user1.jpeg" alt="Testimonial Image">
                                        <h3 class="thumb-title">小王</h3>
                                        <h6 class="thumb-subtitle">医师</h6>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-thumb text-center">
                                        <div class="testimonial-thumb text-center">
                                            <img src="~/Content/PetIndex/Product/user2.jpeg" alt="Testimonial Image">
                                            <h3 class="thumb-title">小章</h3>
                                            <h6 class="thumb-subtitle">医师</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* 医师介绍结束 *@
    @* 博客部分 *@
    <div class="section section-margin-bottom">
        <div class="container">
            <div class="row" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">我们的博客</h2>
                    </div>
                </div>
            </div>
            <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 m-b-n40">
                <div class="col m-b-40" data-aos="fade-up" data-aos-duration="1000">
                    <div class="single-blog-wrapper">
                        <div class="blog-thumb thumb-effect">
                            <a class="image" href="blog-details.html">
                                <img class="fit-image" src="~/Content/PetIndex/Product/1.jpg" alt="Blog Image">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul>
                                    <li><span></span><a href="#/">小王</a></li>
                                    <li><span>2021年09月06日</span></li>
                                </ul>
                            </div>
                            <h2 class="blog-title"><a href="blog-details.html">仓鼠一只眼睛发炎久了会死吗</a></h2>
                            <p>仓鼠一只眼睛发炎久了是不会死的，但是有一定的风险，要及时做好消毒处理。如果只是很轻微的炎症，并且主人及时采取了洗眼液、口服抗生素等措施减轻仓鼠的炎症反应，则通常不会引发仓鼠死亡的情况。但需要注意，如果是因为外伤、打架等原因造成的就需要及时到医院进行处理，这类伤口往往比较大也比较容易感染。红肿发炎的眼睛如果不治疗，就有可能死亡的，所以主人需要及时用药缓解仓鼠眼部炎症。</p>
                            <a class="more-link" href="blog-details.html">阅读更多</a>
                        </div>

                    </div>

                </div>

                <div class="col m-b-40" data-aos="fade-up" data-aos-duration="1300">

                    <div class="single-blog-wrapper">

                        <div class="blog-thumb thumb-effect">
                            <a class="image" href="blog-details.html">
                                <img class="fit-image" src="~/Content/PetIndex/Product/2.jpg" alt="Blog Image">
                            </a>
                        </div>

                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul>
                                    <li><span></span><a href="#/">小王</a></li>
                                    <li><span>2021年09月06日</span></li>
                                </ul>
                            </div>
                            <h2 class="blog-title"><a href="blog-details.html">仓鼠一只眼睛发炎久了会死吗</a></h2>
                            <p>仓鼠一只眼睛发炎久了是不会死的，但是有一定的风险，要及时做好消毒处理。如果只是很轻微的炎症，并且主人及时采取了洗眼液、口服抗生素等措施减轻仓鼠的炎症反应，则通常不会引发仓鼠死亡的情况。但需要注意，如果是因为外伤、打架等原因造成的就需要及时到医院进行处理，这类伤口往往比较大也比较容易感染。红肿发炎的眼睛如果不治疗，就有可能死亡的，所以主人需要及时用药缓解仓鼠眼部炎症。</p>
                            <a class="more-link" href="blog-details.html">阅读更多</a>
                        </div>

                    </div>
                </div>

                <div class="col m-b-40" data-aos="fade-up" data-aos-duration="1600">
                    <div class="single-blog-wrapper">
                        <div class="blog-thumb thumb-effect">
                            <a class="image" href="blog-details.html">
                                <img class="fit-image" src="~/Content/PetIndex/Product/3.jpg" alt="Blog Image">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul>
                                    <li><span></span><a href="#/">小王</a></li>
                                    <li><span>2021年09月06日</span></li>
                                </ul>
                            </div>
                            <h2 class="blog-title"><a href="blog-details.html">仓鼠一只眼睛发炎久了会死吗</a></h2>
                            <p>仓鼠一只眼睛发炎久了是不会死的，但是有一定的风险，要及时做好消毒处理。如果只是很轻微的炎症，并且主人及时采取了洗眼液、口服抗生素等措施减轻仓鼠的炎症反应，则通常不会引发仓鼠死亡的情况。但需要注意，如果是因为外伤、打架等原因造成的就需要及时到医院进行处理，这类伤口往往比较大也比较容易感染。红肿发炎的眼睛如果不治疗，就有可能死亡的，所以主人需要及时用药缓解仓鼠眼部炎症。</p>
                            <a class="more-link" href="blog-details.html">阅读更多</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    @* 博客部分结束 *@
    @* 尾部 *@
    <footer class="section footer-section">
        <div class="footer-top bg-name-bright section-padding">
            <div class="container">
                <div class="row m-b-n40">
                    <div class="col-12 col-sm-6 col-lg-3 m-b-40" data-aos="fade-up" data-aos-duration="1000">
                        <div class="single-footer-widget">
                            <h1 class="widget-title">关于我们</h1>
                            <p class="desc-content">致力于解决宠物的日常生活需要与病理的治疗，为宠物的安全保驾护航。为养宠物家庭提供便捷，让养宠物的家庭获得幸福快乐</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 m-b-40" data-aos="fade-up" data-aos-duration="1200">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">友情链接</h2>
                            <ul class="widget-list">
                                <li><a href="wishlist.html">帮助并联系我们</a></li>
                                <li><a href="contact.html">退货和退款</a></li>
                                <li><a href="contact.html">网上商店</a></li>
                                <li><a href="contact.html">条款和条件</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 m-b-40" data-aos="fade-up" data-aos-duration="1400">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">帮助</h2>
                            <ul class="widget-list">
                                <li><a href="wishlist.html">愿望清单</a></li>
                                <li><a href="contact.html">意见建议</a></li>
                                <li><a href="contact.html">订单追踪</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 m-b-40" data-aos="fade-up" data-aos-duration="1600">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">Send newsletter</h2>
                            <div class="widget-body">
                                <p class="desc-content m-b-20">订阅我们的时事通讯，首次购买可享受10%的折扣，机会仅此一次...</p>
                                <div class="newsletter-form-wrap p-t-5">
                                    <form id="mc-form" class="mc-form">
                                        <input type="email" id="mc-email" class="form-control email-box" placeholder="电子邮箱" name="EMAIL">
                                        <button id="mc-submit" class="newsletter-btn" type="submit">发送</button>
                                    </form>
                                    <div class="mailchimp-alerts text-centre">
                                        <div class="mailchimp-submitting"></div>
                                        <div class="mailchimp-success text-success"></div>
                                        <div class="mailchimp-error text-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom bg-name-light p-t-20 p-b-20">
            <div class="container">
                <div class="row align-items-center m-b-n20">
                    <div class="col-md-6 text-center text-md-start order-2 order-md-1 m-b-20">
                        <div class="copyright-content">
                            <p class="mb-0">Copyright &copy; 2023.千秋一梦</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @* 尾部结束 *@
    @* 商品信息浏览 *@
        <div class="modalquickview modal fade" id="quick" tabindex="-1" aria-labelledby="quick" role="dialog" aria-hidden="true">
            
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <button class="btn close" data-bs-dismiss="modal">×</button>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="modal-product-carousel">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <a class="swiper-slide" href="#">
                                            <img class="w-100" src="~/Content/PetIndex/ProductLager/1.png" alt="Product">
                                        </a>
                                        <a class="swiper-slide" href="#">
                                            <img class="w-100" src="~/Content/PetIndex/ProductLager/2.png" alt="Product">
                                        </a>
                                        <a class="swiper-slide" href="#">
                                            <img class="w-100" src="~/Content/PetIndex/ProductLager/3.png" alt="Product">
                                        </a>
                                        <a class="swiper-slide" href="#">
                                            <img class="w-100" src="~/Content/PetIndex/ProductLager/4.png" alt="Product">
                                        </a>
                                        <a class="swiper-slide" href="#">
                                            <img class="w-100" src="~/Content/PetIndex/ProductLager/5.png" alt="Product">
                                        </a>
                                    </div>
                                    <div class="swiper-pagination d-md-none"></div>
                                    <div class="swiper-product-button-next swiper-button-next"><i class="iconfont">&#xe61f;</i></div>
                                    <div class="swiper-product-button-prev swiper-button-prev"><i class="iconfont">&#xeb15;</i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 overflow-hidden position-relative">
                            <div class="product-summery position-relative">
                                <div class="product-head m-b-15">
                                    <h2 class="product-title">红嘴鹦鹉</h2>
                                </div>
                                <span class="rating justify-content-start m-b-10">
                                    <i class="iconfont">&#xe64a;</i>
                                    <i class="iconfont">&#xe64a;</i>
                                    <i class="iconfont">&#xe9a2;</i>
                                    <i class="iconfont">&#xe9a1;</i>
                                    <i class="iconfont">&#xe9a1;</i>
                                </span>
                                <div class="price-box m-b-10">
                                    <span class="regular-price">￥70.00</span>
                                    <span class="old-price"><del>￥85.00</del></span>
                                </div>
                                <div class="sku m-b-15">
                                    <span>卖出: 1000</span>
                                </div>
                                <div class="product-inventroy m-b-15">
                                    <span class="inventroy-title"> <strong>库存:</strong></span>
                                    <span class="inventory-varient">仅剩12</span>
                                </div>
                                <p class="desc-content m-b-25">红嘴蓝鹊（学名：Urocissa erythrorhyncha）：是大型鸦类，体长54-65厘米。嘴、脚红色，头、颈、喉和胸黑色，头顶至后颈有一块白色至淡蓝白色或紫灰色块斑，其余上体紫蓝灰色或淡蓝灰褐色。尾长呈凸状具黑色亚端斑和白色端斑。下体白色。 黄嘴蓝鹊外形和羽色和该种非常相似，但黄嘴蓝鹊嘴为黄色，头部仅枕有白色块斑。区别仍很明显，野外不难识别。</p>
                                <div class="quantity d-flex align-items-center justify-content-start m-b-25">
                                    <span class="m-r-10"><strong>数量: </strong></span>
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" value="1" type="text">
                                        <div class="dec qtybutton"></div>
                                        <div class="inc qtybutton"></div>
                                    </div>
                                </div>
                                <div class="cart-btn action-btn m-b-30">
                                    <div class="action-cart-btn-wrapper d-flex justify-content-start">
                                        <div class="add-to_cart">
                                            <a class="btn btn-primary btn-hover-dark rounded-0" href="cart.html">加入购物车</a>
                                        </div>
                                        <a href="wishlist.html" title="Wishlist" class="action"><i class="iconfont">&#xe608;</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    @* 商品信息浏览结束 *@
    @* 快捷返回头部图标 *@
    <a href="#" class="scroll-top show" id="scroll-top">
        <i class="arrow-top iconfont">&#xec0c;</i>
        <i class="arrow-bottom iconfont">&#xec0c;</i>
    </a>
    @* 快捷返回头部图标结束 *@
    @* 自适应导航栏 *@
    <div class="mobile-menu-wrapper">
        <div class="offcanvas-overlay"></div>
        <div class="mobile-menu-inner">
            <div class="offcanvas-btn-close">
                <i class="iconfont">&#xeb6a;</i>
            </div>
            <div class="mobile-menu-inner-wrapper">
                <div class="search-box-offcanvas">
                    <form>
                        <input class="search-input-offcanvas" type="text" placeholder="请输入搜索内容">
                        <button class="search-btn"><i class="iconfont">&#xe651;</i></button>
                    </form>
                </div>
                <div class="mobile-navigation">
                    <nav>
                        <ul class="mobile-menu">
                            <li class="has-children">
                                <a href="#">主页 <i class="fa fa-angle-down"></i></a>
                            </li>
                            <li class="has-children">
                                <a href="#">宠物商店 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="dropdown">
                                    <li><a href="shop.html">猫咪食物</a></li>
                                    <li><a href="shop-left-sidebar.html">狗狗食物</a></li>
                                    <li><a href="shop-right-sidebar.html">小宠食物</a></li>
                                    <li><a href="shop-list-fullwidth.html">水族食物</a></li>
                                    <li><a href="shop-list-left-sidebar.html">爬宠食物</a></li>
                                    <li><a href="shop-list-right-sidebar.html">鸟宠食物</a></li>
                                    <li><a href="shop-list-right-sidebar.html">其他</a></li>
                                    <li><a href="single-product.html">猫咪玩具</a></li>
                                    <li><a href="single-product-sale.html">狗狗玩具</a></li>
                                    <li><a href="single-product-variable.html">小宠玩具</a></li>
                                    <li><a href="single-product-countdown.html">爬宠玩具</a></li>
                                    <li><a href="single-product-affiliate.html">水族玩具</a></li>
                                    <li><a href="single-product-slider.html">鸟宠玩具</a></li>
                                    <li><a href="single-product-slider.html">其他</a></li>
                                    <li><a href="my-account.html">猫咪药品</a></li>
                                    <li><a href="login.html">狗狗药品</a></li>
                                    <li><a href="wishlist.html">小宠药品</a></li>
                                    <li><a href="cart.html">爬宠药品</a></li>
                                    <li><a href="checkout.html">水族药品</a></li>
                                    <li><a href="compare.html">鸟宠药品</a></li>
                                    <li><a href="compare.html">其他药品</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">宠物 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="dropdown">
                                    <li><a href="about.html">猫咪</a></li>
                                    <li><a href="contact.html">狗狗</a></li>
                                    <li><a href="error-404.html">小宠</a></li>
                                    <li><a href="faq.html">爬宠</a></li>
                                    <li><a href="login.html">水族</a></li>
                                    <li><a href="register.html">鸟宠</a></li>
                                    <li><a href="register.html">其他</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">宠物 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="dropdown">
                                    <li><a href="about.html">猫咪</a></li>
                                    <li><a href="contact.html">狗狗</a></li>
                                    <li><a href="error-404.html">小宠</a></li>
                                    <li><a href="faq.html">爬宠</a></li>
                                    <li><a href="login.html">水族</a></li>
                                    <li><a href="register.html">鸟宠</a></li>
                                    <li><a href="register.html">其他</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">宠物视频 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="dropdown">
                                    <li><a href="blog.html">猫咪视频</a></li>
                                    <li><a href="blog-left-sidebar.html">狗狗视频</a></li>
                                    <li><a href="blog-right-sidebar.html">小宠视频</a></li>
                                    <li><a href="blog-details.html">爬宠视频</a></li>
                                    <li><a href="blog-details-sidebar.html">鸟宠视频</a></li>
                                    <li><a href="blog-details-sidebar.html">其他视频</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">宠物趣事</a></li>
                            <li><a href="contact.html">宠物问答</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="mt-auto bottom-0">

                    <ul class="contact-links">
                        <li><i class="iconfont">&#xeb23;</i><a href="#">1522633xxxx</a></li>
                        <li><i class="iconfont">&#xe908;</i><a href="#">3535297841</a></li>
                        <li><i class="iconfont">&#xe64d;</i> <span>星期一 - 星期天 9：00 - 18：00</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @* 自适应导航结束 *@
    <script src="~/Scripts/PetIndex/vendor.min.js"></script>
    <script src="~/Scripts/PetIndex/plugins.min.js"></script>
    <script src="~/Scripts/PetIndex/main.js"></script>

</body>
</html>
